.boton_cerrar_session {
    margin-left: 22px;
}

.titulo {
    color: white !important;
}

.alineacion_boton {
    margin-left: 25px;
}

.logo {
    border-radius: 25%;
}

.contenedor {
    min-height: 88.8vh;
}

footer {
    margin-left: 15%;
    margin-top: auto;
}

.botonConfirmar{
    background-color: #427AD4;
    color: white;

}


/* ESTILOS USUARIOS  */

.botones-operaciones {
    padding-left: 0px !important;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.boton-listado{
    margin-right: 2.5% !important;
}


.swal2-icon.swal2-warning{
    border-color: red !important;
    color: red !important;
}

.buscador {
    padding-left: 0px !important;
}

.formulario {
    padding-left: 0px !important;
}