.boton_cerrar_session {
    margin-top: 22px !important;
    margin-left: 22px;
}

.navegation {
    background-color: #FDEDFE !important;
}

.titulo {
    color: black !important;
}

.barraSuperior{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.alineacion_boton {
    margin-left: 25px;
}

.logo {
    border-radius: 25%;
}

.contenedor {
    min-height: 88.8vh;
}

footer {
    margin-left: 15%;
    margin-top: auto;
}


/* ESTILOS USUARIOS  */

.botones-operaciones {
    padding-left: 0px !important;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.switchEstado{
    font-size: 25px;
    margin-left: 0px!important;
    margin-right: 15px !important;
    
}

.buscador {
    padding-left: 0px !important;
}

.formulario {
    margin-left: 15%;
    margin-right: 15%;
}